
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { 
  margin: 0; 
  font-size: 1em; 
  line-height: 1.4; 
  background-image: url('../images/background.jpg'); 
  background-repeat: repeat-x;
  background-color:#141414;
}

#logo{
  width: 448px;
  height: 229px;
  background-image: url('../images/logo.png');
  background-repeat:no-repeat;
  margin-top: 50px;
  margin-left:75px;
  float:left;
}

#tagline{
  font-family: 'helvetica', sans-serif;
  font-size:36px;
  font-weight: 300;
  color: #b5b5b5;
  line-height: 42px;
  margin-left: 75px;
  margin-top: 11px;
}

#links{
  float:right;
  margin-right: 75px;
  margin-top: 50px;

}

#links a{
  font-family: 'helvetica', sans-serif;
  font-size:20px;
  font-weight: 300;
  line-height: 42px;
  margin-left: 75px;
  text-decoration: none;
  width:170px;
}

.investors{
  color: #828282;

}

.artist {
  color:#da3d11;
}

input { 
  -webkit-border-radius: 15px; 
  -moz-border-radius: 15px; 
  border-radius: 15px; 
  border: none;
  padding: 5px;
  font-size: 22px;
  color:#a4a2a2;
  padding-left: 10px;
}

#emailTag{
  font-family: 'helvetica', sans-serif;
  font-size:20px;
  font-weight: 300;
  color: #828282;
  line-height: 42px;
  margin-left: 75px;
  margin-top: 32px;
}

.lighter{
  color:#cacaca;
}

#email{
  width: 380px;
  height: 50px;
  margin-left:75px;
  float:left;
  margin-top: 5px;
  background: #2d2d2d; 

}

.button{
  float: left;
  height: 60px;
  background: #10817c;
  color: white;
  padding-right: 10px;
  font-size: 18px;
  margin-top: 5px;
  width: 100px;
  margin-left: 10px;
}

#footer{
  position: absolute;
  bottom:10px;
  right:75px;
}

#footer a{
  color:#cacaca;
  text-decoration: none;
}
