
/* Global Attributes
========================================== */

body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased;
  background: #000000;
  padding:0;
  margin:0;
}

/*body * {
	-webkit-transform: translate3d(0, 0, 0);
}
*/
ul {
	margin: 0;  
	padding: 0;
	list-style-type: none;
}	

@font-face {
  font-family: Gotham-Medium;
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: Gotham-Bold;
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: Gotham-Book;
  src: url('../fonts/Gotham-Book.otf');
}

@font-face {
  font-family: Interstate;
  src: url('../fonts/Interstate-Regular.otf');
}

@font-face {
  font-family: Rockwell-ExtraBold;
  src: url('../fonts/Rockwell-ExtraBold.otf');
}

#logo{
	width: 278px;
  margin-left:20px;
  margin-top:50px;
  }

#logo img{
  width: 278px;
}

#container{
  width:320px;
  height:480px;
}

/*  Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #home{
    background: url('../images/lobby/background.jpg');
    background-repeat: none;
    background-size: 100%;
  }

}


.orange {
    background: #da3d11;
    padding:10px;
    margin:auto;
    height: 30px;
    width: 215px;
    color: #fff;
    font-family: 'Gotham-Bold';
    -webkit-border-radius: 10px;
    text-align:center;
    margin-top: 165px;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
}

.orange a{
  color:#fff;
  text-decoration: none;
  cursor: pointer;
  display:block;
}

/* Join
=================================*/
#joinHeader{
  height: 40px;
  padding-top: 5px;
  padding-left:5px;
  padding-right:5px;
}


#artistName{
  color: #00a7a0;
  font-family: 'Gotham-Medium';
  font-size: 28px;
  float:left;
}

#venueName{
  font-family: 'Gotham-Book';
  font-size: 11px;
  float:right;
  color: #868686;
  margin-top: 4px;
}

.darker{
  color: #3c3c3c;
}

#artistImage{
  height: 144px;
  width: 320px;
  overflow: hidden;
}

#artistImage img{
  width: 320px;
  height: 144px;

}

#songContainer{
  background: #282828;
  height:55px;
  width: 305px;
  padding-left: 15px;
}


#songName{
  color: #00a7a0;
  font-family: 'Gotham-Book';
  font-size: 28px;
  float:left;
}


#nowPlaying{
  color: #bcbcbc;
  font-family: 'Gotham-Book';
  font-size: 16px;
  float:left;
  text-transform: uppercase;
}

.lighter{
  color: #bcbcbc;
}

#songContainer .buy{
  background: #da3d11;
  font-family: 'Gotham-Book';
  color: white;
  float:right;
  margin-right: 10px;
  margin-top:15px;
  border-radius: 7px;
  font-size: 10px;
  padding: 5px;
  text-transform: uppercase;
  width:30px;
  text-align: center;
}

/* Webkit animations
=================================*/

@-webkit-keyframes popchange {
    0% {-webkit-transform: scale(1); }
    100% {-webkit-transform: scale(1.4); }
}